<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies, create_time, create_user, update_time, update_user)
        values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.name}, #{setmealDish.price}, #{setmealDish.copies}, #{setmealDish.createTime}, #{setmealDish.createUser}, #{setmealDish.updateTime}, #{setmealDish.updateUser})
        </foreach>
    </insert>
    <delete id="deleteBySetmealId">
        delete from setmeal_dish where setmeal_id = #{setmealId}
    </delete>


    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select distinct setmeal_id from setmeal_dish
        <where>
            <if test="dishIds != null and dishIds.size() &gt; 0">
                and dish_id in
                <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
                    #{dishId}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getBySetmealId" resultType="com.sky.entity.SetmealDish">
        select * from setmeal_dish where setmeal_id = #{setmealId}
    </select>
</mapper>
